<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="login">
      <div class="h1-login">
        <h1>Login Page</h1>
      </div>
      <div class="loginForm">
        <form method="POST">
          <div class="loginFormFields">
            <label for="username">Username:</label>
            <input type="text" name="username" />
            <br />
            <br />
            <br />
            <label for="password">Password:</label>
            <input type="password" name="password" />
            <br />
            <br />
            <br />
            <button onclick="this.form.submit()" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
