<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Please Enter a Value at Least in one Search Field</h1>
    <button>
        <a href="/search"> Back to Search </a>
      </button>
      </form>
    </div>
  </body>
</html>
